<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Product</title>
</head>
<body>
<div style="display: flex; align-items: center; justify-content: center">
  <form action="" method="post">
    <h1>Thêm Sản phẩm mới</h1>
    <p>Name</p>
    <input type="text" name="name" required>
    <p>Price</p>
    <input type="number" name="price" required>
    <p>Quantity</p>
    <input type="number" name="quantity" required>
    <p>Image</p>
    <input type="text" name="img" required>
    <hr>
    <button type="submit" >Thêm</button>
  </form>
</div>
</body>
</html>